body{
background-color: cian;
text-align: center;
font-family: Arial;
}
a{
	text-transform:uppercase;
	text-decoration:none;
}
hr.verde{
	height: 5px;
	background-color: green;
}
footer{
	background-color:black;
	color: white;
}
header{
		background-color:black;
	color: white;
	padding: 10px;
	}
